.form {
    display: flex;
    justify-content: center;
    margin: 80px;

    form {
        max-width: 80%;
        background-color: #F2F2F2;
        padding: 36px 64px;
        border-radius: 24px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    }
}